* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;               /* ancho del scrollbar */
}

body::-webkit-scrollbar-track {
    background: #1d2021; /* color de fondo del scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #808080;    /* color del scroll */
    border-radius: 20px;
}


h1, h2, h3, h4, h5, h6 {
    color: #37fd12;
    letter-spacing: 1px;
}

main {
    background-color: #1d2021;
}

/* ----------------- LOADER ----------------- */

/* #### LOADER CONTENEDOR #### */

.contenedorLoader {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.loaderInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.loaderInfo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    margin-bottom: 70px;
}

/* #### LOADER ANIMACION #### */

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #37fd12;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* ----------------- HEADER ----------------- */

/* #### HEADER #### */

.main-content {
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    margin-top: 76px;
}

.hidden {
    display: none;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #181A1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* #### LOGO HEADER #### */

.navbar-brand {
    width: 60px;
    height: 60px;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* #### NAVBAR #### */

.navbar-toggler {
    background-color: #000;
    width: 60px;
    height: 40px;
}

.navbar-toggler span {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* #### HEADER DISPLAY #### */

.contenedorDisplay {
    margin-right: 15px;
}

.navbar-nav {
    position: relative;
}

/* #### NAVBAR  LI #### */

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: #fff;
}

.carrito {
    font-size: 30px;
}

.nav-item a:hover {
    color: #37fd12;
}

/* #### NAVBAR DROPDOWN #### */

.dropdown-menu {
    background-color: #181A1B;
}

.dropdown-menu a:hover {
    background-color: #181A1B;
}

@media (min-width: 992px) {

    .navbar {
        width: 100%;
    }

    .navbar-brand {
        width: 80px;
        height: 80px;
        margin-left: 30px;
    }

    .contenedorDisplay {
        width: 90%;
    }

    .nav-item {
        padding-left: 35px;
    }
}

/* #### CARRITO DE COMPRAS #### */

.hidden {
    display: none;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #181A1B;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #37fd12;
    font-size: 25px;
}

.cart h2 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.cart ul {
    color: #808080;
}

.cart p {
    color: #808080;
    padding-left: 25px;
}

#checkout-button {
    display: inline-block;
    padding: 7px 20px;
    border: 1px solid #37fd12;
    background-color: transparent;
    border-radius: 25px;
    color: #37fd12;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.remove-button {
    background-color: transparent; 
    color: #37fd12; 
    cursor: pointer; 
    font-size: 1em;
    border: none;
    padding-left: 20px;
}

.cart-count {
    background-color: #37fd12;
    color: #000;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
    position: absolute;
    bottom: -3px;
    left: 35px;
    transform: translate(50%, -50%);
    font-weight: bold;
}

@media (min-width: 700px) {

    .cart {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
    }
}

@media (min-width: 1000px) {

    .cart {
        position: absolute;
        top: 10%;
        right: 0;
        width: 30%;
    }

    .close {
        right: 15px;
    }

    .cart-count {
        width: 25px;
        height: 25px;
        top: 15px;
        left: 580px;
    }
}

/* ----------------- MAIN ----------------- */

/* #### METODOS DE PAGO #### */

.contenedorMetodoPago {
    width: 100%;
    height: auto;
    background-color: #000;
    padding-bottom: 20px;
}

.metodoPagoContenedor {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.metodoPagoTitulo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.metodoPagoTitulo h2 {
    font-size: 20px;
}

.metodoPagoCerrar {
    color: #37fd12;
    font-size: 24px;
    cursor: pointer;
} 

.metodoPagoInfo {
    width: 100%;
    margin-top: 20px;
}

.metodoPagoInfo label {
    width: 100%;
}

.metodoPagoInfo p {
    color: #808080;
    margin-left: 27px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.metodoPagoInfo input {
    width: 80%;
    display: flex;
    margin: 0 auto;
    background-color: #181A1B;
    border: none;
    border-bottom: 2px solid #808080;
    padding: 7px;
}

.infoTarjeta {
    width: 100%;
}

.infoTarjeta h3 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.infoTarjeta input {
    margin-bottom: 10px;
}

.tarjetaInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tarjetaInfo img {
    width: 50px;
}

#fechaTarjeta {
    width: 100%;
}

#fechaTarjetaInput {
    margin-bottom: 10px;
}

.btnPago {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #37fd12;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px;
}

@media (min-width: 700px) {

    .metodoPagoContenedor {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .metodoPagoTitulo {
        width: 100%;
        justify-content: space-around;
    }

    .metodoPagoTitulo h2 {
        font-size: 25px;
    }

    .metodoPagoCerrar {
        font-size: 30px;
    }

    .metodoPagoInfo p {
        margin-left: 55px;
    }

    .infoTarjeta h3 {
        text-align: start;
        margin-left: 55px;
        font-size: 25px;
    }

    .tarjetaInfo {
        justify-content: space-around;
    }

    .tarjetaInfo img {
        width: 70px;
    }
}

@media (min-width: 900px) {

    .metodoPagoInfo p {
        margin-left: 70px;
    }

    .infoTarjeta h3 {
        margin-left: 70px;
    }
}

@media (min-width: 1000px) {

    .metodoPagoInfo p {
        margin-left: 80px;
    }

    .infoTarjeta h3 {
        margin-left: 80px;
    }

    #fechaTarjeta {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    #fechaTarjetaInput {
        width: 33%;
    }
}

@media (min-width: 1200px) {

    .metodoPagoInfo p {
        margin-left: 95px;
    }

    .infoTarjeta h3 {
        margin-left: 95px;
    }
}

@media (min-width: 1400px) {

    .metodoPagoInfo p {
        margin-left: 150px;
    }

    .infoTarjeta h3 {
        margin-left: 150px;
    }
}

/* #### FOTO DE IPHONE 16 PRO MAX #### */

.contenedorFoto {
    width: 100%;
    height: 45vh;
    background-color: #000;
    text-align: center;
}

.contenedorFoto img {
    width: 100%;
    height: 50%;
}

.contenedorInfoImagen {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorInfoImagen h1 {
    margin-top: 20px;
    letter-spacing: 1px;
}

.contenedorInfoImagen p {
    color: #808080;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
} 

@media (min-width: 700px) {

    .contenedorFoto {
        height: 70vh;
    }

    .contenedorFoto img {
        height: 70%;
    }

    .contenedorInfoImagen h1 {
        margin-bottom: 20px;
    }
}

@media (min-width: 1240px) {

    .contenedorFoto {
        height: 85vh;
    }
}

/* #### SOBRE NOSOTROS #### */

.contenedorSobreNosotros {
    width: 100%;
    height: 90vh;
    background-color: #0e0c0c;
}

.sobreNosotros {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreNosotros h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sobreNosotrosInfo {
    width: 100%;
    text-align: left;
}

.sobreNosotrosInfo p {
    color: #808080;
    margin-left: 20px;
    margin-bottom: 40px;
}

.sobreNosotrosInfo a {
    text-decoration: none;
    margin-left: 20px;
    color: #37fd12;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #37fd12;
    border-radius: 1rem;
}

.sobreNosotrosInfo a:hover {
    background-color: #1d2021;
}

.sobreNosotrosImg {
    width: 100%;
    height: 40vh;
    padding-top: 50px;
}

.sobreNosotrosImg img {
    width: 100%;
    height: 100%;
}

@media (min-width: 500px) {

    .sobreNosotrosInfo {
        text-align: center;
        margin-right: 20px;
    }
}

@media (min-width: 1000px) {

    .sobreNosotros {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .sobreNosotrosInfo {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobreNosotrosInfo h2 {
        margin-bottom: 50px;
        font-size: 40px;
    }

    .sobreNosotrosInfo p {
        font-size: 18px;
    }

    .sobreNosotrosInfo a {
        font-size: 18px;
    }

    .sobreNosotrosImg {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobreNosotrosImg img {
        width: 90%;
        height: 80%;
        border-radius: 7px;
        box-shadow: 0px 0px 15px #fff;
    }
}

@media (min-width: 1240px) {

    .sobreNosotrosInfo h2 {
        font-size: 50px;
    }

    .sobreNosotrosInfo p {
        font-size: 20px;
    }

    .sobreNosotrosInfo a {
        font-size: 20px;
    }
}

/* #### NUEVOS INGRESOS #### */

.swiper {
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: #000;
}

.swiper h2 {
    text-align: center;
    margin-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: #181A1B;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icon i {
    font-size: 20px;
    color: #37fd12;
}

.icon img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.product-content {
    display: flex;
    justify-content: space-between;
}

.product-txt {
    flex-basis: 50%;
    text-align: left;
}

.product-txt span {
    font-size: 25px;
    color: #808080;
    font-weight: bold;
}

.product-txt h3 {
    font-size: 20px;
    color: #37fd12;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #808080;
}

.product-img {
    flex-basis: 50%;
    text-align: right;
}

.product-img img {
    width: 150px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #37fd12;
    background-color: transparent;
    border-radius: 25px;
    color: #37fd12;
    text-decoration: none;
    margin-top: 10px;
}

.btn-1:hover {
    background-color: #0e0c0c;
}

/* #### COMENTARIOS DE GENTE #### */

.contenedorComentarios {
    width: 100%;
    height: auto;
    background-color: #000;
}

.contenedorComentarios h2 {
    text-align: center;
    margin-bottom: 30px;
}

.comentarios {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.comentariosTag {
    width: 100%;
    height: 50vh;
    background-color: #181A1B;
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #808080;
}

.comentariosTag img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.comentariosTag h3 {
    padding-top: 20px;
}

.comentariosTag p {
    color: #808080;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 700px) {

    .comentariosDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comentariosTag {
        width: 300px;
        margin-bottom: 30px;
    }
}

@media (min-width: 800px) {

    .comentariosDisplay {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .comentariosTag {
        width: 320px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {

    .contenedorComentarios {
        padding-bottom: 20px;
    }

    .comentarios {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .comentariosTag {
        margin: 7px;
    }
}

/* ----------------- MAIN ----------------- */

/* #### FOOTER #### */

.contenedorFooter {
    width: 100%;
    height: auto;
    background-color: #181A1B;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 20px;
}

.footerlinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.footerLista {
    list-style: none;
}

.footerLista li {
    margin-bottom: 12px;
}

.footerLista a {
    text-decoration: none;
    color: #ccc;
}

.footerLista a:hover {
    color: #37fd12;
}

.footerListaRedes {
    list-style: none;
}

.footerListaRedes li {
    margin-bottom: 5px;
}

.footerListaRedes a {
    text-decoration: none;
    font-size: 20px;
}

.footerListaRedes p {
    display: none;
}

.instagram {
    color: #cd486b;
}

.whatsapp {
    color: #37fd12;
}

.twitter {
    color: #1da1f2;
}

.facebook {
    color: #3b5998;
}

.footerCopy {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divisor {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #808080;
    margin-bottom: 20px;
}

.footerCopy img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footerCopy p {
    color: #808080;
    font-size: 14px;
    margin-top: 10px;
}

@media (min-width: 1200px) {

    .footerLista li {
        margin-bottom: 22px;
    }

    .footerListaRedes li {
        margin-bottom: 20px;
    }

    .footerListaRedes a {
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .footerCopy {
        display: flex;
        justify-content: center;
    }

    .footerCopy img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .footerCopy p {
        font-size: 16px;
    }
}

/* #### REPARACIONES #### */

.contenedorReparacion {
    width: 100%;
    height: auto;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reparacion {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reparacionInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reparacionInfo h3 {
    text-align: center;
    margin-bottom: 10px;
}

.reparacionInfo p {
    color: #808080;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.reparacionInfo a {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #37fd12;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #37fd12;
    letter-spacing: 1px;
}

.reparacionInfo a:hover {
    background-color: #181A1B;
}

.reparacionImg {
    width: 100%;
    height: 25vh;
}

.reparacionImg img {
    width: 100%;
    height: 100%;
}

@media (min-width: 500px) {

    .reparacionImg {
        width: 100%;
        height: 40vh;
    }
}

@media (min-width: 700px) {

    .reparacionInfo p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .reparacionImg {
        width: 90%;
        height: 50vh;
        display: flex;
        margin: 0 auto;
    }

    .reparacionImg img {
        border-radius: 7px;
    }
}

@media (min-width: 1000px) {

    .reparacion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .reparacionInfo {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 70px;
    }

    .reparacionInfo h3 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .reparacionInfo p {
        text-align: start;
        margin-left: 0;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .reparacionInfo a {
        display: flex;
        align-items: start;
        margin: 0;
    }

    .reparacionImg {
        width: 100%;
        height: 55vh;
    }

    .reparacionImg img {
        width: 90%;
        height: 100%;
    }
}

/* #### UBICACIÓN #### */

.contenedorUbicacion {
    width: 100%;
    height: auto;
    background-color: #000;
}

.contenedorUbicacion h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ubicacion {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ubicacionIframe {
    width: 100%;
    height: 25vh;
}

.ubicacionIframe iframe {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0px 0px 15px #808080;
}

.ubicacionHorarios {
    width: 100%;
}

.ubicacionHorarios ul {
    width: 100%;
    list-style: none;
}

.ubicacionHorarios p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.ubicacionHorarios li {
    color: #808080;
}

@media (min-width: 500px) {

    .ubicacionIframe {
        height: 50vh;
    }
}

@media (min-width: 1000px) {

    .ubicacionHorarios ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
} 

@media (min-width: 1200px) {

    .contenedorUbicacion {
        padding-bottom: 20px;
    }

    .ubicacion {
        flex-direction: row;
    }

    .ubicacionIframe {
        width: 100%;
        height: 60vh;
    }

    .ubicacionHorarios {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ubicacionHorarios ul {
        width: 100%;
        display: block;
        text-align: center;
    }

    .ubicacionFlex p {
        font-size: 25px;
    }

    .ubicacionFlex li {
        font-size: 19px;
    }
}